* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.body_full {

    background-color: rgb(148, 73, 73);
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10px;
    height: 120px;
    align-items: center;
}

 .link_link {
    display: flex;
    gap: -50px;
    
}
.link_link li{
    
    width: 80px;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
}

 .link_link li a {
    /* margin-right: 10px; */
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    

} 

.body_full div h1 {
    color: white;
}

#div2 {
    display: flex;
    position: fixed;
    right: 7%;
    top: 10px;
}

/* @media screen and (max-width:1292px) {
    .body_full {
        background-color: #CCC
    }
    #div2 {
        display: flex;
        position: fixed;
        right: 7%;
        top: 10px;
    }
}
@media screen and (min-width:1100px) and (max-width:1291px) {
    .body_full {
        background-color: #CCC
    }
    #div2 {
        display: flex;
        position: fixed;
        right: 8%;
        top: 10px;
    }
}
@media screen and (min-width:991px) and (max-width:1099px) {
    .body_full {
        background-color: #CCC
    }
    #div2 {
        display: flex;
        position: fixed;
        right: 10%;
        top: 10px;
    }
}
@media screen and (min-width:756px) and (max-width:990px) {
    .body_full {
        background-color: #CCC
    }
    #div2 {
        display: flex;
        position: fixed;
        right: 13%;
        top: 10px;
    }
} */

#divl {
   
   margin: auto;
   
   
   height: 110px;
   width: 550px;
   padding-left: 10px;
   padding-top: 15px;
   
   
}
#imgdivl{
    width: 80px;
    height: 76px;
    margin-left: 56px;
    
    
  }
.imganun {
    width: 80px;
    height: 68px;
    margin-left: 70px;
   


}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #3c5152;
    border-radius:10px;
    width:350px;
    height:33px;
    margin-left: 80px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:29px;
    width:246px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:29px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#b93131;
    
  }
  
  #divBusca img{
    float:left;
  }
  #divbn{
    height: 400px;
    
    margin: auto;
    
    background-color: #b93131;
  }
  #divlat{
    
    height: 500px;
    margin-right: 1050px;
    border: 3px black solid;
    width: 300px;
  }
  .linkp{
    font-size: 25px;
    margin-left: 10px;
    color: rgb(214, 25, 25);
    font-weight: bold;
    vertical-align: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
  }
   fieldset {
       
       border:  solid;
       border-left: 0px;
       border-right: 0px;
       border-top: 3px;
       
   }

   /* GRID */
   .grid-view{
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(150px,1fr)) ;
       height: 300px;
       margin: 3%;
       gap: 30px;
    
       
   }
   .grid-view div {
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
   }
  
  